<body id="home" style="overflow: visible;">

  <!-- Preloader -->
  <div id="preloader" style="display: none;">
    <div id="status" style="display: none;">
    </div>
  </div>
  
  <!-- FullScreen -->
    <div class="intro-header">
    <div class="col-xs-12 text-center abcen1">
      <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Libra</h1>
      <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Choose Your Themes.</h3>
    </div>
        <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn animated animated" style="visibility: visible;">
      <div class="button_down ">
        <a class="imgcircle wow bounceInUp animated animated" data-wow-duration="1.5s"  href="" style="visibility: visible; animation-duration: 1.5s;">
      </div>
    </div>
    </div>

  <!-- NavBar-->
<%= render partial: 'common/header' %>

  <!-- What is -->
  <div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">

      <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>Theme</h2>
        <p class="lead" style="margin-top:0">Choose the theme you are interested in</p>
        
      </div>
      
      <div class="row">
      
        <div class="col-sm-4 wow fadeInDown text-center">
        <a href ="/themes/show">
          <img class="rotate" src="img/icon/tweet.svg" alt="Generic placeholder image">
          <h3>Choose</h3>
          <p class="lead">Please Choose the theme. </p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
          <a href ="/themes/new">
          <img  class="rotate" src="img/icon/picture.svg" alt="Generic placeholder image">
           <h3>Registration</h3>
           <p class="lead">The best theme, with yours.</p>
           <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
        <a href ="/themes/search">
          <img  class="rotate" src="img/icon/retina.svg" alt="Generic placeholder image">
           <h3>Serch</h3>
          <p class="lead">Serch the themes. </p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
  </div>

  <!-- Use it -->
    <div id ="useit" class="content-section-a">

        <div class="container">
      
            <div class="row">
      
        <div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="img/ipad.png" alt="">
                </div>
      
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">Hot Themes</h3>
          <div class="sub-title lead3">Lorem ipsum dolor sit atmet sit dolor greand fdanrh<br> sdfs sit atmet sit dolor greand fdanrh sdfs</div>
                    <p class="lead">
            In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret. 
            Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur, 
            uam non erat mirum sapientiae lorem cupido
            patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
          </p>

           <p><a class="btn btn-embossed btn-primary" href="#" role="button">View Details</a> 
           <a class="btn btn-embossed btn-info" href="#" role="button">Visit Website</a></p>
        </div>   
            </div>
        </div>
        <!-- /.container -->
    </div>

    <div class="content-section-b"> 
    
    <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInLeftBig">
                     <div id="owl-demo-1" class="owl-carousel">
            <a href="img/iphone.png" class="image-link">
              <div class="item">
                <img  class="img-responsive img-rounded" src="img/iphone.png" alt="">
              </div>
            </a>
            <a href="img/iphone.png" class="image-link">
              <div class="item">
                <img  class="img-responsive img-rounded" src="img/iphone.png" alt="">
              </div>
            </a>
            <a href="img/iphone.png" class="image-link">
              <div class="item">
                <img  class="img-responsive img-rounded" src="img/iphone.png" alt="">
              </div>
            </a>
          </div>       
                </div>
        
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   
                    <h3 class="section-heading">Recommend</h3>
          <div class="sub-title lead3">Lorem ipsum dolor sit atmet sit dolor greand fdanrh<br> sdfs sit atmet sit dolor greand fdanrh sdfs</div>
                    <p class="lead">
            In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret. 
            Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur, 
            uam non erat mirum sapientiae lorem cupido
            patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
          </p>

           <p><a class="btn btn-embossed btn-primary" href="#" role="button">View Details</a> 
           <a class="btn btn-embossed btn-info" href="#" role="button">Visit Website</a></p>
        </div>        
      </div>
        </div>
    </div>

<%= render partial: 'common/footer' %>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/script.js"></script>
  <!-- StikyMenu -->
  <script src="js/stickUp.min.js"></script>
  <script type="text/javascript">
    jQuery(function($) {
    $(document).ready( function() {
      $('.navbar-default').stickUp();
      
    });
    });
  
  </script>
  <!-- Smoothscroll -->
  <script type="text/javascript" src="js/jquery.corner.js"></script> 
  <script src="js/wow.min.js"></script>
  <script>
   new WOW().init();
  </script>
  <script src="js/classie.js"></script>
  <script src="js/uiMorphingButton_inflow.js"></script>
  <!-- Magnific Popup core JS file -->
  <script src="js/jquery.magnific-popup.js"></script> 
</body>

</html>
