<% provide :title, "｜Complete" %>

<%= render partial: 'common/header' %>

<div class="intro-devise">
  <div class="inner" style="display: inline-block;">
      <div class="form-group">
        <h4>Complete update your account!</h4>
        <%= link_to "Home", root_path, class: "btn btn-primary withripple" %>
      </div>
    </div>
  </div>
