
  <!-- RateScreen -->
    <div class="intro-rate">
      <div class="col-xs-12 text-center abcen1" style="position: absolute; margin: 0 auto;">
       <input type="button" class="btn  btn-lg mybutton_standard wow swing wow fadeIn animated animated" value="Skip" onclick="OnButtonClick();"/>
     </div>
    </div>
