<% provide :title, "｜Rate" %>
<body>
<div class="intro-rate clearfix" style="background-image: url(<%= @theme.image_url %>)" ;>
  <ul>
    <li>
      <%= render partial: "common/rates_container" %>
    </li>
  </ul>
</div>
</body>
