<html>
<body id="home">

  <!-- Preloader -->
  <div id="preloader">
    <div id="status"></div>
  </div>

  <!-- RateScreen -->
    <div class="intro-header">
    <div class="col-xs-12 text-center abcen1">
      <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Rating!</h1>
      <ul class="list-inline intro-social-buttons">
        <li id="download" >
          <form method="post" action="">
            <span class="network-name">
              <input type="button" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s" onclick="location.href='new.html'" value="Start!" />
            </span>
          </form>
        </li>
      </ul>
    </div>


        <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn">
      <div class="button_down ">
        <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"></a>
      </div>
    </div>
    </div>


  <!-- NavBar-->
<%= render partial: 'common/header' %>

  <!-- What is -->
  <div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">

      <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>Ranking</h2>

      </div>

      <div class="row">

        <div class="col-sm-4 wow fadeInDown text-center">
          <img class="rotate" src="img/icon/tweet.svg" alt="Generic placeholder image">
          <h3>Altanative</h3>
          <p class="lead">It is the alternative that you do. That's it. </p>

          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
          <img  class="rotate" src="img/icon/picture.svg" alt="Generic placeholder image">
           <h3>Aggregate</h3>
           <p class="lead">Countless subjectivity, to only objective. </p>
           <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
          <img  class="rotate" src="img/icon/retina.svg" alt="Generic placeholder image">
           <h3>Theme</h3>
          <p class="lead">What you want to know is what someone wants to know. </p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->
    </div>
  </div>

  <!-- Screenshot -->
  <div id="screen" class="content-section-b">
        <div class="container">
          <div class="row" >
       <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
        <h2>Others</h2>
        <p class="lead" style="margin-top:0">Below 3rd place</p>
       </div>
      </div>
        <div class="row wow bounceInUp" >
              <div id="owl-demo" class="owl-carousel">

        <a href="img/slide/1.png" class="image-link">
          <div class="item">
            <img  class="img-responsive img-rounded" src="img/slide/1.png" alt="Owl Image">
          </div>
        </a>

               <a href="img/slide/2.png" class="image-link">
          <div class="item">
            <img  class="img-responsive img-rounded" src="img/slide/2.png" alt="Owl Image">
          </div>
        </a>

        <a href="img/slide/3.png" class="image-link">
          <div class="item">
            <img  class="img-responsive img-rounded" src="img/slide/3.png" alt="Owl Image">
          </div>
        </a>

        <a href="img/slide/1.png" class="image-link">
          <div class="item">
            <img  class="img-responsive img-rounded" src="img/slide/1.png" alt="Owl Image">
          </div>
        </a>

               <a href="img/slide/2.png" class="image-link">
          <div class="item">
            <img  class="img-responsive img-rounded" src="img/slide/2.png" alt="Owl Image">
          </div>
        </a>

        <a href="img/slide/3.png" class="image-link">
          <div class="item">
            <img  class="img-responsive img-rounded" src="img/slide/3.png" alt="Owl Image">
          </div>
        </a>
              </div>
          </div>
        </div>
  </div>

  <div id="downloadlink" class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>Result Rist</h2>
        <p class="lead" style="margin-top:0">View the result of this theme</p>
        <p><a class="btn btn-embossed btn-primary view" href="" role="button">View</a></p>
       </div>
      </div>
    </div>
  </div>

 <%= render partial: 'common/footer' %>

  <script type="text/javascript">
    jQuery(function($) {
    $(document).ready( function() {
      $('.navbar-default').stickUp();

    });
    });

  </script>

  <script>
   new WOW().init();
  </script>

</body>

</html>
