<% provide :title, "｜Rating!" %>
<body>
<div class="intro-rate" style="background-image: url(<%= @theme.image_url %>)" ;>
  <ul>
    <li>
      <%= render partial: "common/rates_container" %>
    </li>
  </ul>
</div>
</body>
