<% provide :title, "｜Complete" %>

<div class="intro-devise">
  <div class="inner" style="display: inline-block;">
      <div class="form-group">
        <h4>Rates Complete!</h4>
        <%= link_to "Back", "", class: "btn btn-primary withripple" %>
      </div>
    </div>
  </div>
