    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-7" style="padding: 30px;">

      <!-- LICENSE -->
      Design from<a rel="cc:attributionURL" href="http://www.andreagalanti.it/flatfy"
       property="dc:title">Flatfy Theme </a> by
       <a rel="dc:creator" href="http://www.andreagalanti.it"
       property="cc:attributionName">Andrea Galanti</a>
       is licensed to the public under
       <BR>the <a rel="license"
       href="http://creativecommons.org/licenses/by-nc/3.0/it/deed.it">Creative
       Commons Attribution 3.0 License - NOT COMMERCIAL</a>.<br>
         <!-- /col-xs-7 -->
         <br>
         <a>Libra </a>made by<a>Teruhsia Fukumoto</a><br>
         Copyright © 2017 <a>Teruhisa Fukumoto</a> All Rights Reserved.
         </div>

          <div class="col-md-5">
            <div class="footer-banner">
              <h3 class="footer-title">Libra</h3>
              <ul>
                <li>Simply and Satisfactory Rating Application</li>
                <li>Using Elo Rating</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
