  <!-- NavBar-->
  <nav class="navbar-default stuckMenu" role="navigation" style="position: relative; top: 0px;">
  </style>
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Libra", root_path ,:class => "navbar-brand"  %>
      </div>

      <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="menuItem"><%= link_to "MyPage", user_path(current_user) %></li>
          <li class="menuItem"><%= link_to "Edit", edit_user_path(current_user) %></li>
          <li class="menuItem"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </nav> 
