<form class="form-wrapper cf">
  <%= form_tag('', method: :get) do %>
  <input style="margin: 30px auto;" type="text" name="keyword" placeholder="Search..." required>
  <button type="submit">Search</button>
  <% end %>
</form>

<!--
<dl>
<dd><form name="searchform4" id="searchform4" method="get" action="#">
<input name="keywords4" id="keywords4" value="" type="text" />
<input type="image" src="/img/icon/search_btn.png" method="get" alt="Serch..." name="searchBtn4" id="searchBtn4" />
</form></dd>
</dl>

<%= form_tag('', method: :get) do %>
<input class="searchform4" name="keyword" placeholder="Search..." type="text" value=""><button class="searchBtn" title="Search" type="submit"></button></input>
    <% end %>
-->
