<!-- Top NavBar-->
<nav class="navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#home">Libra</a>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="menuItem"><a href="#whatis">What is?</a></li>
        <li class="menuItem"><a href="#howtouse">How to use</a></li>
        <li class="menuItem"><a href="#elorating">Elo Rating</a></li>
        <li class="menuItem"><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
